# Data Cleaning and Preprocessing

In this notebook, we will read and process the sales data from the **Superstore Dataset** in preparation for analysis and modeling. We will cover the following steps:
- Initial data exploration (dimensions, missing data, duplicates).
- Handling missing values ​​(if any).
- Detecting and handling outliers in important columns such as **Sales** and **Profit**.
- Converting some columns to an appropriate type (such as date and categorical data).
- Extracting useful new features from the date column (such as month, quarter, and year).

<h2 style="color: #2c3e50;"> Metadata about the Data we Have:</h2> 
<ul>
  <li><b style="color: #2980b9;">Order ID:</b> <span style="color: #34495e;">Unique identifier for each order.</span></li>
  <li><b style="color: #2980b9;">Order Date:</b> <span style="color: #34495e;">The date the order was placed.</span></li>
  <li><b style="color: #2980b9;">Ship Date:</b> <span style="color: #34495e;">The date the order was shipped.</span></li>
  <li><b style="color: #2980b9;">Ship Mode:</b> <span style="color: #34495e;">The mode of shipment (e.g., First Class, Same Day).</span></li>
  <li><b style="color: #2980b9;">Customer ID:</b> <span style="color: #34495e;">Unique identifier for each customer.</span></li>
  <li><b style="color: #2980b9;">Customer Name:</b> <span style="color: #34495e;">Full name of the customer.</span></li>
  <li><b style="color: #2980b9;">Segment:</b> <span style="color: #34495e;">Market segment the customer belongs to (e.g., Consumer, Corporate).</span></li>
  <li><b style="color: #2980b9;">Country:</b> <span style="color: #34495e;">Country of the customer (usually United States in Superstore data).</span></li>
  <li><b style="color: #2980b9;">City:</b> <span style="color: #34495e;">City of the customer.</span></li>
  <li><b style="color: #2980b9;">State:</b> <span style="color: #34495e;">State of the customer.</span></li>
  <li><b style="color: #2980b9;">Postal Code:</b> <span style="color: #34495e;">ZIP code of the customer’s location.</span></li>
  <li><b style="color: #2980b9;">Region:</b> <span style="color: #34495e;">Region the order was placed in (e.g., East, West).</span></li>
  <li><b style="color: #2980b9;">Product ID:</b> <span style="color: #34495e;">Unique identifier for each product.</span></li>
  <li><b style="color: #2980b9;">Category:</b> <span style="color: #34495e;">High-level category of the product (e.g., Furniture, Technology).</span></li>
  <li><b style="color: #2980b9;">Sub-Category:</b> <span style="color: #34495e;">More detailed product classification (e.g., Chairs, Phones).</span></li>
  <li><b style="color: #2980b9;">Product Name:</b> <span style="color: #34495e;">Full name of the product sold.</span></li>
  <li><b style="color: #2980b9;">Sales:</b> <span style="color: #34495e;">Revenue generated from the sale.</span></li>
  <li><b style="color: #2980b9;">Quantity:</b> <span style="color: #34495e;">Number of units sold.</span></li>
  <li><b style="color: #2980b9;">Discount:</b> <span style="color: #34495e;">Discount applied on the product (range: 0 to 1).</span></li>
  <li><b style="color: #2980b9;">Profit:</b> <span style="color: #34495e;">Profit made from the sale (can be negative).</span></li>
</ul>

In [1]:
# Import the necessary libraries
import pandas as pd

# Read Superstore data from a CSV file
df = pd.read_csv(r"C:\Users\bhbt\Desktop\Superstore-Sales-Analysis-main\dataset\Superstore Dataset.csv")

# Display the first 5 rows to see the data format
df.head()

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,CA-2019-103800,2019-01-03,2019-01-07,Standard Class,DP-13000,Darren Powers,Consumer,United States,Houston,Texas,77095,Central,OFF-PA-10000174,Office Supplies,Paper,"Message Book, Wirebound, Four 5 1/2"" X 4"" Form...",16.448,2,0.2,5.5512
1,CA-2019-112326,2019-01-04,2019-01-08,Standard Class,PO-19195,Phillina Ober,Home Office,United States,Naperville,Illinois,60540,Central,OFF-LA-10003223,Office Supplies,Labels,Avery 508,11.784,3,0.2,4.2717
2,CA-2019-112326,2019-01-04,2019-01-08,Standard Class,PO-19195,Phillina Ober,Home Office,United States,Naperville,Illinois,60540,Central,OFF-ST-10002743,Office Supplies,Storage,SAFCO Boltless Steel Shelving,272.736,3,0.2,-64.7748
3,CA-2019-112326,2019-01-04,2019-01-08,Standard Class,PO-19195,Phillina Ober,Home Office,United States,Naperville,Illinois,60540,Central,OFF-BI-10004094,Office Supplies,Binders,GBC Standard Plastic Binding Systems Combs,3.540,2,0.8,-5.4870
4,CA-2019-141817,2019-01-05,2019-01-12,Standard Class,MB-18085,Mick Brown,Consumer,United States,Philadelphia,Pennsylvania,19143,East,OFF-AR-10003478,Office Supplies,Art,Avery Hi-Liter EverBold Pen Style Fluorescent ...,19.536,3,0.2,4.8840

In [2]:
# Display the number of rows and columns
print("Shape:", df.shape)

Shape: (9994, 20)

In [3]:
# General information about columns, their types, and missing values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       9994 non-null   object
 1   Order Date     9994 non-null   object
 2   Ship Date      9994 non-null   object
 3   Ship Mode      9994 non-null   object
 4   Customer ID    9994 non-null   object
 5   Customer Name  9994 non-null   object
 6   Segment        9994 non-null   object
 7   Country        9994 non-null   object
 8   City           9994 non-null   object
 9   State          9994 non-null   object
 10  Postal Code    9994 non-null   int64
 11  Region         9994 non-null   object
 12  Product ID     9994 non-null   object
 13  Category       9994 non-null   object
 14  Sub-Category   9994 non-null   object
 15  Product Name   9994 non-null   object
 16  Sales          9994 non-null   float64
 17  Quantity       9994 non-null   int64
 18  Discount       9994 non-null   float64
 19  Profit         9994 non-null   float64
dtypes: float64(3), int64(2), object(15)
memory usage: 1.5+ MB

In [4]:
# Check for missing values ​​in each column
print("\nMissing values ​​per column:")
print(df.isnull().sum())

Missing values ​​per column:
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

### Handling Duplicates
We will search for duplicate rows and remove them if found.

In [5]:
# Check for duplicate rows
duplicate_count = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicate_count}")

# If there are duplicate rows, they can be removed as follows:
if duplicate_count > 0:
   df = df.drop_duplicates()
   print("Duplicate rows removed. New shape:", df.shape)

Number of duplicate rows: 1
Duplicate rows removed. New shape: (9993, 20)

### Detecting Outliers in Sales and Profit Columns
We will use the IQR to identify outliers in the Sales and Profit columns, and then print their counts.

In [6]:
# Calculating the spring statistics for sales
Q1_sales = df['Sales'].quantile(0.25)
Q3_sales = df['Sales'].quantile(0.75)
IQR_sales = Q3_sales - Q1_sales

# Identifying outliers in the Sales column
outliers_sales = df[(df['Sales'] < Q1_sales - 1.5 * IQR_sales) | (df['Sales'] > Q3_sales + 1.5 * IQR_sales)]
print("Number of outliers in sales:", outliers_sales.shape[0])

# Calculating the interquartile range of profits
Q1_profit = df['Profit'].quantile(0.25)
Q3_profit = df['Profit'].quantile(0.75)
IQR_profit = Q3_profit - Q1_profit

# Identifying outliers in the Profit column
outliers_profit = df[(df['Profit'] < Q1_profit - 1.5 * IQR_profit) | (df['Profit'] > Q3_profit + 1.5 * IQR_profit)]
print("Number of outliers in profits:", outliers_profit.shape[0])

Number of outliers in sales: 1167
Number of outliers in profits: 1881

We can either remove or retain these outliers based on our analysis. In the context of sales forecasting, we may prefer to remove outliers to avoid confounding statistical models. Here's an example of removing outliers in a sales column:

In [7]:
# Example: Removing rows with outliers in sales
initial_shape = df.shape
df = df[~((df['Sales'] < Q1_sales - 1.5 * IQR_sales) | (df['Sales'] > Q3_sales + 1.5 * IQR_sales))]
print(f"Outliers removed. Previous shape: {initial_shape}, New shape: {df.shape}")

Outliers removed. Previous shape: (9993, 20), New shape: (8826, 20)

### Type Conversion
- Convert date columns to the Datetime type for easier handling.
- Convert columns with categorical data to the **category** type for improved performance and memory.

In [8]:
# Convert date columns to datetime type
df['Order Date'] = pd.to_datetime(df['Order Date'])
df['Ship Date'] = pd.to_datetime(df['Ship Date'])

# Convert some columns to category type to improve memory
categorical_cols = ['Ship Mode', 'Segment', 'Country', 'City', 'State', 'Region', 'Category', 'Sub-Category']
for col in categorical_cols:
  df[col] = df[col].astype('category')

### Extracting new features from the date column
We extract time properties such as year, month, and quarter from the **Order Date** column.

Create year, month, and quarter columns based on the order date
df['Year'] = df['Order Date'].dt.year
df['Month'] = df['Order Date'].dt.month
df['Quarter'] = df['Order Date'].dt.quarter

Verify the addition
df[['Order Date', 'Year', 'Month', 'Quarter']].head()

## *make data prepared for modeling*

In [9]:
# Check column names
print(df.columns)

Index(['Order ID', 'Order Date', 'Ship Date', 'Ship Mode', 'Customer ID',
       'Customer Name', 'Segment', 'Country', 'City', 'State', 'Postal Code',
       'Region', 'Product ID', 'Category', 'Sub-Category', 'Product Name',
       'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [10]:
import pandas as pd
import numpy as np

# 2. Aggregate daily for important metrics
df_daily = df.groupby('Order Date').agg({
'Sales': 'sum',
'Profit': 'sum',
'Quantity': 'sum',
'Discount':'mean'
}).reset_index()

# 3. Extract date features
df_daily['Year'] = df_daily['Order Date'].dt.year
df_daily['Month'] = df_daily['Order Date'].dt.month
df_daily['Quarter'] = df_daily['Order Date'].dt.quarter
df_daily['Day'] = df_daily['Order Date'].dt.day
df_daily['DayOfWeek'] = df_daily['Order Date'].dt.weekday
df_daily['DayOfYear'] = df_daily['Order Date'].dt.dayofyear
df_daily['WeekOfYear'] = df_daily['Order Date'].dt.isocalendar().week.astype(int)

In [11]:
df_daily

,Order Date,Sales,Profit,Quantity,Discount,Year,Month,Quarter,Day,DayOfWeek,DayOfYear,WeekOfYear
0,2019-01-03,16.4480,5.5512,2,0.200000,2019,1,1,3,3,3,1
1,2019-01-04,288.0600,-65.9901,8,0.400000,2019,1,1,4,4,4,1
2,2019-01-05,19.5360,4.8840,3,0.200000,2019,1,1,5,5,5,1
3,2019-01-06,467.3400,133.0444,15,0.000000,2019,1,1,6,6,6,1
4,2019-01-07,87.1580,-71.9621,10,0.700000,2019,1,1,7,0,7,2
...,...,...,...,...,...,...,...,...,...,...,...,...
1219,2022-12-26,63.9140,23.5862,10,0.300000,2022,12,4,26,0,360,52
1220,2022-12-27,177.6360,-31.9742,6,0.300000,2022,12,4,27,1,361,52
1221,2022-12-28,931.5108,42.6252,60,0.228889,2022,12,4,28,2,362,52
1222,2022-12-29,1707.6940,330.3954,33,0.036364,2022,12,4,29,3,363,52
1223,2022-12-30,713.7900,101.5365,23,0.142857,2022,12,4,30,4,364,52

In [12]:
#4. Calculate lags and moving averages for sales
df_daily['lag_1'] = df_daily['Sales'].shift(1)
df_daily['lag_7'] = df_daily['Sales'].shift(7)
df_daily['roll_mean_7'] = df_daily['Sales'].rolling(window=7).mean().shift(1)

# 5. Delete rows with NaN from lags/rolling
df_daily.dropna(inplace=True)

# 6. Define the features list and target
features = [
'Year','Month','Quarter','Day','DayOfWeek',
'DayOfYear','WeekOfYear',
'Profit','Quantity','Discount',
'lag_1','lag_7','roll_mean_7'
]
target = 'Sales'

# 7. Save the data ready for modeling
output_path = r'C:\Users\bhbt\Desktop\Superstore-Sales-Analysis-main\dataset\cleaned_superstore.csv'
df_daily.to_csv(output_path, index=False)
print("Saved feature-ready data to:", output_path)


#8. The modeling notebook has two dimensions:
# df = pd.read_csv(r"C:\Users\bhbt\Desktop\Superstore-Sales-Analysis-main\dataset\Superstore Dataset.csv
# X = df_model[features]
# y = df_model[target]

Saved feature-ready data to: C:\Users\bhbt\Desktop\Superstore-Sales-Analysis-main\dataset\cleaned_superstore.csv

### Step Summary
- We verified that the data contained no missing values.
- We identified and removed some severe outliers in **Sales**.
- We converted some columns to appropriate data types.
- We extracted important time features (year, month, quarter) from the order date.
- The data is now ready for the modeling phase.